Coding Questions
1. Jupyter Notebook and Data Types
Write a program in Jupyter Notebook to declare variables of different data types (integer, float, string, and boolean). Print each variable and its type.

In [ ]:
# Declare variables of different data types
integer_variable = 10
float_variable = 3.14
string_variable = "Hello, world!"
boolean_variable = True

# Print each variable and its type
print("Integer value:", integer_variable, "Type:", type(integer_variable))
print("Float value:", float_variable, "Type:", type(float_variable))
print("String value:", string_variable, "Type:", type(string_variable))
print("Boolean value:", boolean_variable, "Type:", type(boolean_variable))

Integer value: 10 Type: <class 'int'>
Float value: 3.14 Type: <class 'float'>
String value: Hello, world! Type: <class 'str'>
Boolean value: True Type: <class 'bool'>